body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    width: 21cm;
    margin: 0 auto;
    background-color: white;
    padding: 1cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.leftPanel {
    width: 27%;
    background-color: #484444;
    color: white;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftPanel img {
    width: 4cm;
    height: 4cm;
    margin-bottom: 0.7cm;
    border-radius: 50%;
    border: 0.15cm solid white;
    object-fit: cover;
    object-position: 50% 50%;
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.leftPanel p a.linkedin-link {
    color: green; 
    text-decoration: none;
}

.leftPanel p a.linkedin-link:hover {
    text-decoration: underline;
}


.details ul {
list-style-type: disc;
padding-left: 1.5cm;
}

.details li {
margin-bottom: 0.5cm;
}

.item {
    padding-bottom: 0.7cm;
    padding-top: 0.7cm;
}
.item h2 {
    margin-top: 0;
    font-family: 'Archivo Narrow', sans-serif;
}
.bottomLineSeparator {
    border-bottom: 0.05cm solid white;
}
.rightPanel {
    width: 73%;
    padding: 0.7cm;
}
.rightPanel h1 {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
}
.rightPanel h2 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 0.5cm;
}
.rightPanel p {
    margin: 0.5cm 0;
}
.experience-item {
    margin-bottom: 1cm;
}
.experience-item h3 {
    margin: 0.5cm 0 0.2cm 0;
}
.experience-item p {
    margin: 0.2cm 0;
}
.education-section {
    margin-bottom: 1cm;
}

.education-section h2 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 0.5cm;
}

.education-container {
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5cm;
}

.institution {
    font-weight: bold;
}

.grade {
    font-style: italic;
    align-items: end;
}